
.pagination{
    ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        li{
            list-style: none;
            
            a{
                background: lightblue;
                padding: 4px 8px;
                border: 1px solid blue;
                text-decoration: none;
            }
           
        }
    }
}