@import '../../utils/responsive.scss';

header {
    nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: start;
            list-style: none;

            li {
                margin-left: 24px;

                a {
    
                    text-decoration: none;
                    color: black;
                    font-size: 24px;
                    @include max-width(500){
                        color: gold;
                    }
                }
            }
        }
    }
}
