.card{
    height: 240px;
    border: 1px solid black;
    width: calc(25% - 30px);
    margin:  16px 6px;
    
    .body{
        padding: 0 8px;
        height: 80%;
        h4{
            text-align: center;
            font-size: 32px;
            padding: 0;
            margin: 0;
        }
        p{
            max-height: 130px;
            overflow: hidden;
            line-height: 21px;
        }
    }
    .footer{
        height: 20%;
        padding: auto;
        border-top: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: black;
            border: 2px solid greenyellow;
            background:lightgreen;
            padding: 8px 16px;
            border-radius: 8px;
        }
    }

}