@import './responsive.scss';


.container {
    margin: 0 auto;
    width: 1200px;
    @include max-width(992) {
        max-width: 960px;
    }
    @include max-width(768) {
        max-width: 720px;
    }
    @include max-width(576) {
        max-width: 540px;
    }
    @include max-width(576) {
        width: 100%;
    }
}