@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'vasir';
  src: url('../public/fonts/vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "vasir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
